
<form asp-controller="Carreras" asp-action="BorrarCarreraId">
    <input type="text" name="Id" placeholder="Id a Borrar..." />
    <button type="submit">Entrar</button>
</form>


<form asp-controller="Carreras" asp-action="BorrarCarreraNombre">
    <input type="text" name="Nombre" placeholder="Nombre Carrera..." />
    <button type="submit">Entrar</button>
</form>
