body{

    font-family: sans-serif;
    margin: 0;
    background-color: #F8CE8C;
}

a{
    text-decoration: none;
    color: black;
}

header{

    /*display: flex; para que se visualuze del lado derecho*/
    display: flex;
    min-height: 100px;
    background-color: #F5AB34;
    /*justify-content: space-between; para separar entre textos*/
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{

    height: 100px;
    width: 100px;
}

nav a{

  font-weight: 600px;
  padding: 10px;

}

/*le agregamos un hover para que cambie de color cuando pasamos el puntero por encima*/
nav a:hover{
  
    color: white;

}


/*agregamos el responsive para el header*/
@media (max-width:700px){

    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

/*Formulario de Contacto*/

h2{

    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FE5E2A;
    
}

img{

    
    width: 600px;
    height: 170px;
    margin: 1px auto 0;
    overflow: hidden;
    display: flex;

}

/*Formulario de Contacto*/

.h3_form{

    display: flex;
    align-items: center;
    background-color: #C62100;
    padding-left: 40px;
}

form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding-left: 630px;

}

label{

    margin-bottom: 10px;

}

/*Mas Info*/

.Sobre_Nosotros{

    background-color: #FA660A;
    padding: 10px;
    justify-content: space-between;
    
}

.Sobre_Nosotros a{

    display: flex;
    justify-content: center;
    
}

.Preguntas_Frecuentes{

    background-color: #FA660A;
    padding: 10px;
    justify-content: space-between;
    
}

.Preguntas_Frecuentes a{

    display: flex;
    justify-content: center;
    
}

footer{

    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #F5AB34;
}

