@{
    ViewData["Title"] = "Principal";

}
<head>

    <link rel='stylesheet' href='Principal.css'>
    <title>Universidad</title>

</head>

<body>



    <h1>Bienvenido a la Universidad Autonoma de Almagro</h1>

    <!--Carrusel-->
    <div class="slider">
        <ul>
            <li><img src="imagen_carrusel1.jpg" alt=""></li>
            <li><img src="imagen_carrusel2.jpg" alt=""></li>
            <li><img src="imagen_carrusel3.jpg" alt=""></li>
            <li><img src="imagen_carrusel4.jpg" alt=""></li>
        </ul>
    </div>

    <br>
    <br>
  
</body>

<!--div entero-->
