
<form asp-controller="Materias" asp-action="AgregarMateria">
    <input type="text" placeholder="Nombre Carrera..." name="Carrera" id="Carrera" />
    <input type="text" placeholder="Nombre Materia..." name="Nombre" id="Nombre" />
    <button type="submit">AgregarMateria</button>
</form>
