



<form asp-controller="Account" asp-action="Entrar">
    <input type="text" name="UserName" placeholder="Usuario..." />
    <input type="password" name="Password" placeholder="Contraseña..." />
    <button type="submit">Entrar</button>
</form>


<!-- Codigo para login original



<body>





  


    <div class="divLogin">

        <form method="dialog" onsubmit="return validar()" id="formLogin">
            <div class="imgUsuario">
                <img src="icons8-usuario-masculino-en-círculo-50.png" alt="Avatar" class="avatarUsuario">
            </div>


            <br>

            <div class="Login">
                <label for="usuario"><b>Usuario</b></label>
                <input type="text" placeholder="Ingresar Usuario" name="usuario" id="usuario" required>

                <br>
                <br>

                <label for="contraseña"><b>Contraseña</b></label>
                <input type="password" placeholder="Ingresar Contraseña" name="contraseña" id="contraseña" required>

                <br>
                <br>

                <button type="submit" onclick="displayLogin()">Login</button>

                <button type="button" onclick=asp-controller ="Login" asp-action="Registro"> Registrarse</button>



                <br>
                <br>

            </div>

            <br>

        </form>

        <form method="dialog" onsubmit="return registrar()" id="formRegistro" style="display: none">

            <div class="imgUsuario">
                <img src="icons8-usuario-masculino-en-círculo-50.png" alt="Avatar" class="avatarUsuario">
            </div>

            <br>

            <div class="Login">
                <label for="usuario"><b>Usuario</b></label>
                <input type="text" placeholder="Ingresar Usuario" name="usuario" id="usuario" required>

                <br>
                <br>

                <label for="contraseña"><b>Contraseña</b></label>
                <input type="password" placeholder="Ingresar Contraseña" name="contraseña" id="contraseña" required>

                <br>
                <br>

                <label for="mail"><b>Mail</b></label>
                <input type="text" placeholder="Ingresar mail" name="mail" id="mail" required>


                <br>
                <br>

            </div>

            <br>

            <button type="button" onclick="displayLogin()">Cancelar</button>
            <button type="submit">Registrar</button>

        </form>



    </div>

    <script src="~/js/site.js"></script>


    

</body>

 -->