<form asp-controller="Account" asp-action="InscribirseMaterias">
    <input type="text" name="Nombre" placeholder="Carrera a la que quiere registrarse..." />
    <button type="submit">Entrar</button>
</form>

